.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content-how-it-works {
  display: flex;
  justify-content: center;
  align-items: center;

  &-intern {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 100px;
  }

  &-left {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: calc(100vh - 100px); /* Defina a altura desejada */
    overflow-y: auto;

    & h2 {
      color: #ffffff;
      font-family: "Hanken Grotesk", Sans-serif;
      font-size: 43px;
      font-weight: 800;
      line-height: 41px;
    }

    & img {
      max-width: 100%;
    }
  }

  &-legend {
    color: #007eff;
    font-family: "Hanken Grotesk", Sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 41px;
  }

  &-right{
    overflow-y: auto;
  }
}

.card-info-works {
  margin: 140px auto;
  & span {
    color: #fff;
    border: 2px solid #a5a5a5;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #121212;
  }
  & h3 {
    color: #ffffff;
    font-family: "Hanken Grotesk", Sans-serif;
    font-weight: 800;
    line-height: 41px;
    font-size: 2rem;
  }

  & h4 {
    color: #cccccc;
    font-family: "Hanken Grotesk", Sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4em;
  }
}
