.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: black;
    padding: 20px;
    border: 2px solid gray;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    border-radius: 5px;
    color: black;
  
    h2, h4 {
      line-height: 45px;
      color: orange; 
    }
  
    @media (max-width: 600px) {
      width: 100%;
      margin: 0 10px;
    }
  }
  
  input {
    display: block;
    margin: 10px auto;
    padding: 20px;
    font-size: 18px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }