.world-programming__line {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  margin: 50px auto;

  &-card {
    width: 100%;
    border: 1px solid #00bcd3;
    background-color: #181b20;
    display: flex;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
  }

  &-text {
    font-weight: bold;
    font-size: 15px;

    & span {
      color: #00bcd3;
    }
  }
}

.word-programming-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.world-program-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 50px;
  &_img {
    display: flex;
    justify-content: center;
    justify-content: center;
    margin-top: 30px;

    & img {
      width: 60%;
    }
  }
}

@media screen and (max-width: 768px) {
  .world-programming__line {
    display: flex;
    flex-direction: column;

    &-text{
      text-align: center;
    }
  }

  .opportunities-programming {
    margin-top: 500px;
  }

  .word-programming-icon-container img {
    transform: rotate(90deg);
    margin: 30px 0;
  }

  .world-program-list {
    display: flex;
    flex-direction: column;

    &_img {
      & img {
        width: 100%;
      }
    }
  }
}
