.container {
  max-width: 1440px;
  margin: 0 auto;
}
.content-bonus {
  &-intern {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & h2 {
      color: #ffffff;
      font-family: "Hanken Grotesk", Sans-serif;
      font-size: 43px;
      font-weight: 800;
      line-height: 1.2em;
    }

    & h3 {
      color: #ffffff;
      font-family: "Hanken Grotesk", Sans-serif;
      font-size: 43px;
      font-weight: 500;
      line-height: 1.2em;
    }

    & h4 {
      color: #007eff;
      font-family: "Hanken Grotesk", Sans-serif;
      font-size: 29px;
      font-weight: 500;
    }
  }
  &-legend {
    color: #007eff;
    font-family: "Hanken Grotesk", Sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 41px;
  }
  &-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
