.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content-method-items {
  &-intern {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;

    & h2 {
      color: #ffffff;
      font-family: "Hanken Grotesk", Sans-serif;
      font-size: 43px;
      font-weight: 800;
      line-height: 1.2em;
    }
  }

  &-legend {
    color: #007eff;
    font-family: "Hanken Grotesk", Sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 41px;
  }
}

.slide-image-carousel-method-items {
  border-radius: 20px;
  height: 400px;
}

@media (max-width: 600px) {
  .content-method-items {
    &-intern {
      & h2 {
        font-size: 36px;
      }
    }
  }
}