.container {
  max-width: 1440px;
  margin: 0 auto;
}
.content-method-items {

  &-intern {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;

    & h2 {
      color: #ffffff;
      font-family: "Hanken Grotesk", Sans-serif;
      font-size: 43px;
      font-weight: 800;
      line-height: 1.2em;
    }
  }
  &-legend {
    color: #007eff;
    font-family: "Hanken Grotesk", Sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 41px;
  }
}

.content-slider{
    width: 100%;

    & img{
        max-width: 100%;
    }
}
.swiper-slide-image{
    border-radius: 20px 20px 20px 20px;
}