.content-the-product {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &-iframe{
        position: absolute;
        top: -220px;
    }

    &-box-container{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & img{
            max-width: 100%;
        }
    }

    &-button {
        font-size: 24px;
        text-decoration: none;
        border-radius: 10px;
        background-color: #fff;
        padding: 20px 35px;
        color: #000;
        width: fit-content;
    }

    &-box-texts {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &-title {
        color: #ffffff;
        font-family: "Hanken Grotesk", Sans-serif;
        font-size: 38px;
        font-weight: 800;
        line-height: 1.2em;
        text-align: center;
    }

    &-subtitle {
        color: #ffffff95;
        font-family: "Hanken Grotesk", Sans-serif;
        font-size: 21px;
        font-weight: 500;
        line-height: 1.5em
    }
}